/* адаптив  */

@media (max-width: 960px) {
    .header__menu-btn {
        display: block;
    }
    .header__menu > ul {
        display: none;
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background-color: #fff;

        border-bottom: 5px solid #2aacc8;
    }
    .header__menu li {
        display: block;
        text-align: center;
    }
    .header__menu li + li {
        margin-left: 0;
    }
    .header__drop-down.drop-down {
        margin-left: 0;
    }
    .header__drop-down.drop-down + .header__drop-down.drop-down {
        margin-left: 0;
    }
    .header__drop-down.drop-down + .header__link-blog {
        margin-left: 0px;
    }
    .header__drop-down > a {
        border: none;
    }
    .header__menu a {
        padding: 10px 0 12px 11px;
        font-weight: 400;
        display: block;
        text-transform: none;
    }
    .header__menu li + li a {
        border-top: 1px solid #e7e7e7;
    }
    .header__drop-down.drop-down:hover .drop-down__list {
        overflow: hidden;
        opacity: 0;
        height: 0;
        transition: all 0.3s;
    }
    .header__drop-down.drop-down .drop-down__list {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.5s;
        padding: 0;
        position: static;
        width: 100%;
        border-bottom: none;
    }
    .header__drop-down.drop-down .drop-down__list.active {
        overflow: hidden;
        opacity: 1;
        height: auto;
        transition: all 0.3s;
        padding: 0;
    }
    .header__drop-down.drop-down:hover > a {
        color: #000;
        border-top: 1px solid #e7e7e7;
        transition: all 0s;
        background-color: #fff;
    }

    .header__drop-down > a.active::after {
        transform: rotate(180deg);
    }

    .items__inner {
        flex-wrap: wrap;
    }
    .item {
        width: 50%;
        margin-bottom: 20px;
        padding: 0 15px;
    }

    .clients-logo {
        padding-left: 15px;
    }
    .download__btn {
        padding-left: 15px;
    }
}
@media (max-width: 900px) {
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__item-social {
        width: 60%;
        margin-top: 20px;
    }
}
@media (max-width: 838px) {
    .clients__inner {
        flex-wrap: wrap;
    }
    .testimonials {
        max-width: 100%;
    }
    .clients-logo {
        padding-left: 0;
        margin: 0 auto;
    }
    .download {
        display: flex;
        flex-wrap: wrap;
    }
    .download__text {
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .download__btn {
        padding-left: 0;
        margin: 0 auto;
    }
    .footer__copy {
        padding-right: 15px;
    }
}
@media (max-width: 720px) {
    .footer__item-content .footer__text {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__item-social {
        width: 100%;
    }
}
@media (max-width: 520px) {
    .item {
        padding: 0;
        width: 100%;
    }
    .clients-logo__images img {
        max-width: 100%;
    }
}
@media (max-width: 440px) {
    .footer__item-contact {
        width: 100%;
        margin-top: 20px;
    }
    .footer__inner {
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .footer__bottom {
        padding-top: 20px;
        flex-wrap: wrap;
    }
    .footer__copy {
        padding-right: 0;
    }
    .footer__logo {
        padding-top: 15px;
    }
}
@media (max-width: 420px) {
    .slider__item-title {
        margin-left: 20px;
        font-size: 40px;
        line-height: 45px;
    }
}
@media (max-width: 360px) {
    .footer__social li {
        width: 33.333%;
    }
    .footer__social li {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        padding-bottom: 20px;
    }
}
/* фикс пропадаюния меню при десктьопе */

@media (min-width: 960px) {
    .header__menu {
        display: block !important;
    }
}
