* {
    box-sizing: border-box;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    background-color: #0b0b0b;
    color: #fff;
    font-size: 24px;
    line-height: 28px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.button {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.15);
    transition: all 0.5s;
    &:hover {
        background: #770302;
    }
}
.header {
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(11, 11, 11, 0.3);
    right: 0;
    left: 0;

    &-top {
        display: flex;
        justify-content: space-between;
    }
    &-btn {
        width: 60px;
        height: 60px;
        border: 1px solid #fff;
        margin-top: 31px;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div {
            width: 36px;
            height: 2px;
            background-color: #fff;
            margin: 5px 0;
        }
    }
    &-content {
        &__title {
            font-family: "Open Sans", sans-serif;
            font-size: 96px;
            line-height: 112px;
            margin-bottom: 40px;
        }
        &__text {
            width: 285px;
            margin-bottom: 25px;
        }
    }
}

.menu {
    &-act {
        left: 0;
    }
    background-color: #000000;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    transition: all 0.5s;
    z-index: 7;

    &__list {
        height: 100vh;
        display: flex;
        align-items: center;
        a {
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            padding: 30px 0 14px;
            border-bottom: 3px solid #b70021;
            display: inline-block;
            max-width: 368px;
            width: 100%;
            transition: all 0.5s;
            &:hover {
                border-color: #fff;
                color: #b70021;
                transform: scale(1.2);
                margin-left: 37px;
            }
        }
    }
    .close-btn {
        width: 50px;
        height: 50px;
        background-color: #000000;
        position: absolute;
        right: 15px;
        top: 36px;
        cursor: pointer;
        &::after {
            content: "";
            width: 70px;
            height: 2px;
            position: absolute;
            transform: rotate(45deg);
            background-color: #fff;
            transform-origin: left;
        }
        &::before {
            content: "";
            width: 70px;
            height: 2px;
            position: absolute;
            background-color: #fff;
            transform: rotate(-45deg);
            transform-origin: left;
            bottom: -1px;
        }
    }
}
.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
    &-menu {
        position: relative;
    }
}

.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}
.slider {
    background: rgba(11, 11, 11, 0.3);
    &__item {
        height: 100vh;
        background: center center no-repeat;
        background-size: cover;
    }
    .slick-dots {
        max-width: 1230px;
        padding: 0 15px;
        margin: -55px auto 0;
        position: relative;
        z-index: 6;
        button {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #0b0b0b;
            border: none;
            padding: 0;
            font-size: 0;
            cursor: pointer;
            outline: none;
        }
        .slick-active button {
            background-color: #fff;
        }
        li {
            display: inline-block;
            margin: 0 5px;
        }
    }
}
.statistics {
    margin: 160px 0 100px;
    &-items {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .statistic {
        &-item {
            &__title {
                margin-bottom: 19px;
            }
            &__num {
                font-size: 96px;
                line-height: 112px;
                margin-bottom: 7px;
                font-family: "Roboto", sans-serif;
                span {
                    font-size: 24px;
                    line-height: 28px;
                    margin-left: -20px;
                }
                &--speed {
                    span {
                        display: inline-block;
                        position: relative;
                        &::before {
                            content: "+";
                            position: absolute;
                            top: -70px;
                        }
                    }
                }
            }
            &__descr {
                color: #b70021;
            }
        }
    }
}
.video {
    margin-bottom: 100px;
}
.advanteges {
    &-inner {
        &__row {
            margin-bottom: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }
    }
    &__title {
        font-size: 36px;
        line-height: 42px;
        color: #b70021;
        position: absolute;
        top: 0;

        &--bottom {
            right: 0;
            top: auto;
            bottom: 0;
        }
    }
    &__text {
        width: 303px;
    }
    &-descr {
        max-width: 570px;
        width: 100%;
    }
}
.design {
    &__images {
        margin-bottom: 100px;
    }
    &-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
        &__item {
            max-width: 570px;
            width: 100%;
            padding-right: 15px;
            display: flex;
            justify-content: space-between;
            &-num {
                color: #b70021;
            }
            &-text {
                max-width: 433px;
                padding-top: 25px;
            }
        }
    }
}
.footer {
    background-color: #690102;
    padding: 83px 0 20px;
    &-copy {
        text-align: center;
        font-weight: 700;
        li {
            display: inline-block;
            padding: 0 10px;
            position: relative;
            & + li::before {
                content: "|";
                position: absolute;
                left: -5px;
            }
        }
    }
    &-btn {
        text-align: center;
        margin-bottom: 83px;
        .button {
            &:hover {
                background-color: #0b0b0b;
            }
        }
    }
}

@media (max-width: 1220px) {
    .advanteges {
        &__text {
            padding-left: 30px;
        }
    }
    .design__images img {
        width: 100%;
    }
}

@media (max-width: 1020px) {
    .design-row {
        display: block;
        padding-bottom: 50px;
        &__item {
            max-width: 100%;
            margin-bottom: 30px;
            &-text {
                max-width: 100%;
            }
        }
    }
    .design__images {
        margin-bottom: 50px;
    }
}

@media (max-width: 930px) {
    .advanteges {
        &-inner {
            &__row {
                flex-wrap: wrap;
                justify-content: center;
                &--mobile {
                    .advanteges-descr {
                        order: -1;
                    }
                }
            }
        }
        &__title {
            position: static;
            padding: 20px 0;
        }
        &__text {
            margin: 25px auto;
            padding-left: 0;
        }
        &-descr {
            text-align: center;
        }
    }
}

@media (max-width: 820px) {
    .statistics {
        margin: 100px 0 50px;
        &-item {
            padding: 25px 0;
            &s {
                flex-wrap: wrap;
            }
        }
    }
}

@media (max-width: 650px) {
    .advanteges__img img {
        width: 100%;
    }
}

@media (max-width: 415px) {
    .header {
        &-content {
            &__title {
                font-size: 70px;
                line-height: 60px;
                margin-top: 15px;
            }
        }
        .button {
            padding: 15px 53px;
        }
    }
    .logo img {
        width: 200px;
    }
    .menu {
        &__list {
            ul {
                width: 100%;
            }
            a {
                font-size: 30px;

                line-height: 40px;
                padding: 20px 0 10px;
                display: inline-block;
            }
        }
    }
    .video {
        margin-bottom: 50px;
    }
    body {
        font-size: 20px;
        line-height: 24px;
    }
    .advanteges__text {
        width: 100%;
    }
}
