@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri/calibri.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/calibri/calibribold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI Display';
    src: url('../fonts/sf-ui/sfui-display.otf');
    font-weight: medium;
    font-style: normal;
}